* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #1b1b1b;
}

.card{
  background: #212a38;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3em 2em;
  font-family: 'Campton', 'Monterrat', sans-serif;
  border-radius: 3px;
}

h2{
  color: white;
  line-height: 24px;
}

h2 span{
  color: #4cdc57;
}

.message{
  font-size: .85rem;
  margin-top: .4em;
}

button{
  margin-top: 1.5em;
  background: #10B981;
  border: none;
  padding: 8px 7px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

button:hover{
  transform: scale(1.04);
  box-shadow: 0 3px 20px 3px rgba(16 185 129 / .35);
}

hr{
  margin-top: 2.5em;
  height: px;
  background: #ddd;
}

p {
  color: #fff;
}

.passwords{
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.p1{
  background: #273549;
  width: 50%;
  text-align: center;
  border-radius: 4px;
  margin-top: 10px;
  font-size: .8rem;
  padding: .8em;
}

#password1, #password2{
  color: #4cdc67;
}

@media only screen and (max-width: 420px) {
  .passwords{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
}
@media only screen and (max-width: 300px) {
  .passwords p {
    font-size: .64rem;
  }
}
