* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #1b1b1b;
}

.card {
  background: #212a38;
  width: 70%;
  margin: 3rem auto;
  padding: 3em 4em;
  font-family: 'Campton', 'Monterrat', sans-serif;
  border-radius: 3px;
}

h2,
h3 {
  color: white;
  line-height: 24px;
}

h2 span {
  color: #4cdc57;
}

.message {
  font-size: 0.85rem;
  margin-top: 0.4em;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  transition: all 0.7s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 0.65em;
}

.gen-save-buttons,
.del-button {
  margin-top: 1.5em;
}

#button1 {
  background: rgb(16, 185, 129);
  color: #fff;
}

#button2 {
  margin-left: 1.5em;
  background: #fff;
  color: #212a38;
  visibility: hidden;
}

#button3,
.delBtn {
  background: #d00e0e;
  color: #fff;
}

#button1:hover {
  transform: scale(1.04);
  box-shadow: 0 3px 20px 3px rgba(16 185 129 / 0.6);
}

#button2:hover {
  transform: scale(1.04);
  box-shadow: 0 3px 20px 3px rgba(198, 198, 198, 0.4);
}

#button3:hover {
  transform: scale(1.04);
  box-shadow: 0 3px 20px 3px rgba(255, 19, 19, 0.7);
}

hr {
  margin-top: 2.5em;
  height: px;
  background: #ddd;
}

p {
  color: #fff;
}

.passwords {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-top: 0.5rem;
}

.p1 {
  background: #273549;
  width: 50%;
  text-align: center;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 0.8rem;
  padding: 0.8em;
}

#password1,
#password2 {
  color: #4cdc67;
}

.top-message {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.card2-text {
  font-weight: 200;
}

.top-message span {
  font-size: 1.5rem;
  cursor: pointer;
}

.saved-password {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 0.01rem solid rgb(221, 221, 221);
}

.inner-saved-passwords-con {
  display: none;
  transition: display 1.5s ease-in-out;
}

.inner-saved-passwords-con.active {
  margin-top: 2.5rem;
  display: block;
}

.num-password {
  display: flex;
  align-items: flex-end;
}

.password {
  margin-left: 1rem;
  font-size: 0.9rem;
}

.password-numb {
  font-size: 0.9rem;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

.saved-passwords-message {
  font-size: 0.8rem;
}

@media only screen and (max-width: 420px) {
  .card {
    background: #212a38;
    width: 90%;
    margin: 3rem auto;
    padding: 3em 2em;
    font-family: 'Campton', 'Monterrat', sans-serif;
    border-radius: 3px;
  }

  .gen-save-buttons,
  .buttons,
  .del-button {
    display: flex;
    flex-direction: column;
  }

  button {
    font-size: 0.78rem;
    padding-block: 1em;
  }

  #button2 {
    margin: 0.7rem 0 0 0;
  }

  .passwords {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .card2-text {
    font-size: 0.8rem;
  }

  .delBtn {
    padding-inline: 1em;
  }
}
@media only screen and (max-width: 300px) {
  .passwords p {
    font-size: 0.64rem;
  }
}
